/* Estilos para telas médias (tablets) */
@media screen and (max-width: 1024px) {
  header {
    gap: 3rem;
    padding: 0.5rem 1rem;
  }

  .about .about-container {
    flex-direction: column;
    gap: 3rem;
  }

  .about img {
    width: 50vw;
  }

  .skills-info {
    flex-direction: column;
    gap: 3rem;
  }

  .skills img {
    width: 50vw;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}

/* Estilos para telas pequenas (celulares) */
@media screen and (max-width: 768px) {
  /* Fazer o header */
  header #menu-icon {
    display: block;
  }

  #nav-links {
    background: rgb(0, 0, 0, 0.9);
    color: white;
    display: none;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 100%;
    margin-top: 1rem;
    width: 100%;
    padding: 1rem;
    border-radius: 3rem;
  }

  .menu-button {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
  }

  .nav-links.active {
    display: flex;
  }

  .about .about-container {
    text-align: center;
    gap: 2rem;
  }

  #about img {
    width: 70vw;
  }

  .info-box h1 {
    font-size: 2.5rem;
  }

  .info-box span {
    font-size: 1.5rem;
  }

  .btn-group {
    flex-direction: column;
    gap: 1rem;
  }

  #mobile-title-section {
    font-size: 3rem;
  }

  #grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .skills-info {
    width: 70vw;
  }

  #skills img {
    width: 80vw;
  }

  #projects #projects-grid {
    grid-template-columns: 1fr;
  }

  #projects #projects-card {
    width: 100%;
  }

  form input,
  form textarea {
    max-width: 100%;
  }

  footer {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
  }

  .col-right .socials-icons {
    justify-content: center;
  }
}
