/* Variáveis CSS */
:root {
  --gradiante-rosa-azul: linear-gradient(to right, #ff00ff, #009dff);
  --gradiante-azul-rosa: linear-gradient(to right, #009dff, #ff00ff);
  --branco: #fff;
  --preto: rgba(21, 21, 21);
  --scrollBar: #d2d2d2;

  --font-principal: 'Montserrat', sans-serif;
  --font-secundaria: 'Merriweather Sans', sans-serif;
}

/* Reseta estilo padrão e aplica fonte principal */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-principal);
  text-decoration: none;
  scroll-behavior: smooth;
  list-style: none;
}

body {
  background-color: var(--branco);
  /* Remover overflow-x oculto aqui se o menu mobile for expandir para o lado */
  /* overflow-x: hidden; */
}

/* Estilo do modo dark */
.darkmode {
  --gradiante-rosa-azul: linear-gradient(to right, #3ec5ff, #6cff52);
  --gradiante-azul-rosa: linear-gradient(to right, #6cff52, #3ec5ff);
  --branco: rgba(21, 21, 21);
  --preto: #fff;
  --scrollBar: rgb(25, 25, 25);
}

/* Estilos do header */
header {
  background-color: var(--preto);
  color: var(--branco);
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.5rem 1rem;
  backdrop-filter: blur(8px);
  border-radius: 3rem;
  z-index: 1000;
  width: 90%;
  max-width: 1200px;
}

/* Estilos do logotipo */
.header .logo {
  color: var(--branco);
  font-size: 1.2rem;
  font-weight: 600;
  text-wrap: nowrap;
  transition: 0.3s ease-in-out;
}

.header .logo:hover {
  transform: scale(1.1);
}

/* ESTILOS CORRIGIDOS E ADICIONADOS PARA O MENU DE NAVEGAÇÃO */
.nav-links {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  opacity: 0;
  visibility: hidden;
  width: 100%;
  background-color: var(--preto);
  padding: 1rem 0;
  border-radius: 1.7rem 1.7rem 1rem 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease-in-out;
  z-index: 999;
  gap: 1rem;

  /* NOVO: Estilos para os links dentro do menu mobile */
  align-items: center; /* Centraliza os itens horizontalmente */
  text-align: center; /* Centraliza o texto dos links */
}

/* ESTILO QUANDO O MENU ESTÁ ATIVO (ABERTO) */
.nav-links.active {
  transform: translateX(-50%) translateY(0);
  opacity: 1;
  visibility: visible;
}

/* NOVO: Estilo para os links do menu APENAS em MOBILE */
.nav-links li a {
  color: var(--branco); /* Garante que a cor seja branca */
  font-size: 1.1rem; /* Tamanho do texto para mobile */
  padding: 0.5rem 0; /* Espaçamento para clique */
  width: 100%; /* Ocupa a largura total para clique */
  display: block; /* Para que o padding e width funcionem */
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #929292; /* Cor ao passar o mouse */
}

/* Estilo do botão do menu (hambúrguer) */
.menu-button {
  background-color: transparent;
  color: var(--branco);
  border: none;
  font-size: 2rem;
  cursor: pointer;
  display: block;
}

/* Estilos do botão 'Visit Github' */
.visit-btn {
  background: var(--gradiante-azul-rosa);
  color: var(--branco);
  padding: 0.6rem 1.2rem;
  font-weight: 500;
  font-size: 0.9rem;
  font-family: var(--font-secundaria);
  text-wrap: nowrap;
  border: none;
  border-radius: 3rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  display: none;
}

.visit-btn:hover {
  background: var(--gradiante-rosa-azul);
  transform: scale(1.03);
}

/* Estilo do botão dark mode e light mode */
.theme-switch {
  height: 40px;
  width: 40px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--branco);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.theme-switch i {
  font-size: 18px;
  fill: var(--branco);
  color: var(--preto);
  text-align: center;
}

.theme-switch i:last-child {
  display: none;
}

.darkmode .theme-switch i:first-child {
  display: none;
}

.darkmode .theme-switch i:last-child {
  display: block;
}

/* Estilos das seções principais */
section {
  min-height: 100vh;
  padding: 6rem 8%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Estilo da seção "About" */
.about .about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.about img {
  width: 60vw;
  max-width: 250px;
  border-radius: 50%;
}

/* Estilos do box de informações */
.info-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.info-box h3 {
  color: var(--preto);
  font-size: 1.5rem;
  font-weight: 500;
  opacity: 0.8;
}

.info-box h1 {
  color: var(--preto);
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.2;
}

.info-box span {
  background: var(--gradiante-rosa-azul);
  background-clip: text;
  color: transparent;
  font-size: 1.5rem;
}

.info-box p {
  color: var(--preto);
  font-weight: 500;
  padding: 0 0.5rem;
  font-size: 0.95rem;
}

/* Estilo dos botões dentro da seção "About" */
.btn-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.btn,
.btn-navigation {
  background-color: var(--preto);
  color: var(--branco);
  border-radius: 3rem;
  padding: 0.6rem 1.2rem;
  border: 2px solid black;
  cursor: pointer;
  font-weight: 500;
  text-wrap: nowrap;
  transition: 0.3s ease-in-out;
  font-size: 0.9rem;
}

.btn:hover {
  background-color: var(--branco);
  color: var(--preto);
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.btn-navigation {
  margin: 0 5px;
}

.btn-navigation:hover {
  background-color: var(--branco);
  color: var(--preto);
}

.btn a {
  color: var(--branco);
}

.btn a:hover {
  color: var(--preto);
}

/* Estilo dos ícones sociais */
.socials {
  display: flex;
  gap: 1.5rem;
}

.socials i {
  color: var(--preto);
  font-size: 2rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.socials i:hover {
  transform: scale(1.1);
}

/* Título das seções */
.section-title {
  color: var(--preto);
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

/* Estilos das informações de habilidades */
.skills-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.skills img {
  width: 60vw;
  max-width: 300px;
  border-radius: 3rem;
}

/* Estilo da grid de cards de habilidades */
.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  width: 100%;
  max-width: 500px;
}

/* Estilos dos cards da grid */
.grid-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.5rem;
  color: var(--preto);
  border: 2px solid var(--preto);
  border-radius: 2rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  text-align: left;
}

.grid-card:hover {
  background-color: var(--preto);
  color: var(--branco);
  transform: scale(1.02);
}

.grid-card i {
  font-size: 1.3rem;
  margin-bottom: 0.8rem;
}

.grid-card span {
  background: var(--gradiante-azul-rosa);
  background-clip: text;
  color: transparent;
  font-size: 1.3rem;
  font-weight: 500;
}

.grid-card p {
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

/* Estilo da scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: var(--scrollBar);
}

::-webkit-scrollbar-thumb {
  background: var(--gradiante-azul-rosa);
  border-radius: 10px;
}

/* Estilo da grid de projetos */
.projects-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  width: 100%;
  max-width: 500px;
}

/* Estilos dos cards de projetos */
.projects-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem 1.5rem;
  gap: 1rem;
  color: var(--preto);
  border: 2px solid var(--preto);
  border-radius: 2rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.projects-card:hover {
  background-color: var(--preto);
  color: var(--branco);
  transform: translateY(-10px) scale(1.02);
}

.projects-card img {
  width: 80%;
  max-width: 250px;
  border-radius: 1rem;
}

.projects-card:hover .btn {
  background-color: var(--preto);
  color: var(--branco);
  border: 2px solid var(--branco);
}

.projects-card .btn:hover {
  background-color: var(--branco);
  color: var(--preto);
  border: 2px solid var(--branco);
}

.projects-card h3 {
  font-size: 1.8rem;
  font-weight: 500;
}

.projects-card p {
  font-size: 0.9rem;
}

/* Estilo do formulário de contato */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
  width: 100%;
  max-width: 500px;
}

/* Estilos do input do formulário */
form .input-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8em;
  width: 100%;
}

.input-box label {
  color: var(--preto);
  font-size: 1.2em;
}

form input {
  background: var(--gradiante-rosa-azul);
  color: var(--branco);
  font-size: 1em;
  padding: 0.8em 1.5em;
  border-radius: 0.5em;
  border: none;
  outline: none;
  width: 100%;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

form input::placeholder {
  color: var(--branco);
}

form input:focus {
  background: var(--gradiante-azul-rosa);
  transform: scale(1.02);
}

/* Estilos do textarea do formulário */
form textarea {
  background: var(--gradiante-rosa-azul);
  color: var(--branco);
  font-size: 1em;
  padding: 1em 1.5em;
  border-radius: 0.5em;
  border: none;
  outline: none;
  width: 100%;
  height: 100px;
  resize: vertical;
}

form textarea::placeholder {
  color: var(--branco);
}

/* Estilos do botão de envio */
.btn-submit {
  background: var(--gradiante-azul-rosa);
  color: var(--branco);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 180px;
  height: 45px;
  font-size: 1rem;
  border: 2px solid var(--preto);
  border-radius: 2rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.btn-submit:hover {
  background: var(--gradiante-rosa-azul);
  transform: scale(1.05);
}

/* Estilos do footer */
footer {
  background-color: var(--preto);
  color: var(--branco);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  bottom: 0;
  width: 100%;
  padding: 2em 8%;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1);
}

/* Estilos das colunas no footer */
.col-left {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  text-align: center;
}

.col-box {
  display: flex;
  align-items: center;
  gap: 0.6em;
}

.col-box i {
  font-size: 1.5em;
  color: var(--branco);
}

.col-box span {
  font-size: 1rem;
  color: var(--branco);
}

.col-right {
  display: flex;
  flex-direction: column;
  color: var(--branco);
  gap: 1em;
  max-width: 450px;
  text-align: center;
}

.col-right span {
  font-weight: 600;
  font-size: 1.1em;
  color: var(--branco);
}

.col-right .socials-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.col-right .socials-icons i {
  font-size: 1.5em;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
  cursor: pointer;
  color: var(--branco);
}

.col-right .socials-icons i:hover {
  transform: scale(1.2);
  color: var(--gradiante-azul-rosa);
}

.col-right .socials-icons a {
  color: inherit;
  text-decoration: none;
}
